# Elixir / Phoenix
/_build
/deps
/priv/repo/*.sqlite
/priv/static
/node_modules
/env

# PostgreSQL config
*.env
config/dev.secret.exs

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/build
